nav ul{
    display: flex;
    list-style-type: none;
    margin: 0%;
    padding: 0%;
}

nav li{
    display: block;
    border: 1px solid black;
    width: 200px;
    margin-right: 20px;
    background-color: red;
}

nav li a{
    display: block;
    padding: 20px;
    color: white;
    text-decoration: none;
}

nav li a:hover{
    background-color: maroon;
}