h1{
    color: orange;
    background-color: lightgray;
    font-style: italic;
}

h2{
    color: orange;
    background-color: lightgray;
    font-style: italic;
}

h3{
    color: orange;
    background-color: lightgrey;
    font-style: italic;
}

.textcenter{
    text-align: center;
}

.turnorange{
    color: orange;
}

.intro{
    color: deeppink;
}

:visited{
    color: green;
}

.center{
    text-align: center;
}

.justify{
    text-align: justify;
}

a:hover{
    color: yellow;
}

a{
   color: red;
   font-family: Arial, Helvetica, sans-serif;
}

img{
    border: 10px solid black;
    padding: 10px; background-color: yellow;
}

html{
    background-image:url(background.jpg);
}