body {
    background: url("a5bg.png") center center repeat;
    margin: 10px;
    font-family: Georgia, serif;
}
h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    background-color: white;
    padding: 20px;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
}
ul li {
    display: inline-block;
    margin-right: 10px;
}
ul li a {
    display: inline-block;
    background-color: darkblue;
    color: white;
    padding: 12px 20px;
    text-decoration: none;
}
ul li a:hover {
    background-color: royalblue;
}
h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border-bottom: 3px solid black;
    padding-bottom: 10px;
}
p {
    text-align: justify;
}
p a {
    color: blue;
    font-weight: bold;
    text-decoration: none;
}
p a:hover {
    color: red;
    text-decoration: underline;
}
.footer{
    background-color: darkblue;
    color: white;
    border: 5px solid white;
    padding: 50px;
    text-align: center;
    font-family: Verdana, sans-serif;
    font-weight: bold;
    font-style: italic;
    margin-top: 40px;
}
.stuff{
    background-color: white;
    padding: 10px;
}
