#turnblue{
    background-color: lightblue
}

.orange{
    color: orange;
}

.red{
    color: red;
}

.yellow{
    color: yellow;
    background-color: green;
}

.lightgreen{
    background-color: lightgreen;
}

.blue{
    color: blue;
}

h5{
    color: red;
}

h1{
    color: white;
}

.header3{
    background-color: yellow;
}

.heading5{
    background-color: yellow;
}